/* Import Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');


/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

/* Background */

body{
    background-image: url(img/bg2.jpg);
    background-position: top center;
    background-size:cover ;
    background-repeat: no-repeat;
    background-color: #121214;
    
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

/* Header Image */

header{
    margin-top: 32px;
    height: calc(120px + 32px);
}

header div{
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);

    border-radius: 50%;

    display: flex;
    padding: 4px;

    transition: transform .3s;

    box-shadow: 1px 1px 15px rgba(255, 251, 251, 0.466);
}

header div:hover{
    transform: scale(1.1);
}

header div img {
    width: 100%;
    border-radius: 50%;

}

/* Container */

main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Card Container */
section{
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div{
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
    box-shadow: 3px 1px 15px rgba(255, 251, 251, 0.308);
}

#film{
    color: white;
    background-image: linear-gradient(90deg, #fccc72 0%, #e74343 50.52%, #5e5ce2 100%);
    padding-top: 4px;
    border-radius: 10px;
}

#social{
    color: white;
    background-image: linear-gradient(90deg, #72fcea 0%, #c2adc5 50.52%, #e25ccc 100%);
    padding-top: 4px;
    border-radius: 10px;
}

/* Info Card */

section h2{
    letter-spacing: -0.47px;
}

section p{
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

/* List Itens */

section ul{
    display: flex;
    flex-wrap: wrap; /* Caso tenha mais itens na lista ele vai quebrar a linha e posicionar um embaixo do outro*/
    gap: 16px;
    margin-top: 24px;
}
section ul li{
    transition: transform .3s;
}
section ul li:hover{
    transform: scale(1.1);
}

.games-list img{
    width: 90px;
    border-radius: 8px;

}

.film-list img{
    width: 90px;
    border-radius: 8px;
}


/* Animation */

header div{
    animation: fromtop .7s backwards;
    animation-delay: .2s;
    
}

main section{
    animation: frombottom .7s backwards;
}

main section:nth-child(1){
    animation-delay: 0;
}

main section:nth-child(2){
    animation-delay: .4s;
}

main section:nth-child(3){
    animation-delay: .8s;
}


@keyframes fromtop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes frombottom{
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
